/* Estilos para los botones de grupo */
.group-button {
    position: absolute;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  .group-button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro en hover */
  }
  
  
  .top-start {
    top: 160px;
    left: 10px;
  }
  
  .top-end {
    top: 160px;
    right: 10px;
  }
  
  .bottom-start {
    bottom: 10px;
    left: 10px;
  }
  
  .bottom-end {
    bottom: 10px;
    right: 10px;
  }
  
  .fixture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  
  .round {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .match {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .losers {
    margin-top: 40px;
  }

  .final {
    margin-top: 5px;
  }
  
  /* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para cubrir toda la pantalla */
    z-index: 1; /* Colocar el modal sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Permitir desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro semi-transparente */
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
    background-color: #fefefe; /* Fondo blanco */
    margin: 10% auto; /* Margen superior e inferior para centrar verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido */
  }
  
  /* Estilos para el botón de cerrar */
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }
  
  .match:hover {
    background-color: #f0f0f0;
  }
  