
.equipo-imagen {
    max-height: 100px; /* Ajusta el tamaño máximo de las imágenes según sea necesario */
  }
  
  .equipo-nombre {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; /* Tamaño grande para los goles */
  }
  
  .goles {
    margin: 0 10px;
  }
  
  .guion {
    margin: 0 10px;
  }
  
  /* Estilos para botones deshabilitados */
  .btn.disabled {
    pointer-events: none; /* Evita que el botón sea clickeable */
    opacity: 0.6; /* Hace que el botón parezca deshabilitado */
  }
  

  .fecha-partido {
    font-size: 1.5em; /* Tamaño de fuente más grande para la fecha */
    margin-top: 10px; /* Espacio superior */
  }
  
  .todo {
    background-color: white;
  }