<div class="container text-center my-4">
    <div class="row align-items-center">
      <div class="col-4">
        <img src="assets/equipo1.png" class="img-fluid equipo-imagen" alt="Equipo 1">
        <div class="equipo-nombre">Equipo 1</div>
      </div>
      <div class="col-4">
        <div class="resultado">
          <span class="goles">1</span>
          <span class="guion">-</span>
          <span class="goles">0</span>
        </div>
      </div>
      <div class="col-4">
        <img src="assets/equipo2.png" class="img-fluid equipo-imagen" alt="Equipo 2">
        <div class="equipo-nombre">Equipo 2</div>
      </div>
    </div>
  </div>
  