.equipo-imagen {
    max-height: 100px; /* Ajusta el tamaño máximo de las imágenes según sea necesario */
  }
  
  .equipo-nombre {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; /* Tamaño grande para los goles */
  }
  
  .goles {
    margin: 0 10px;
  }
  
  .guion {
    margin: 0 10px;
  }
  