<div class="container my-4" *ngIf="prediccion">
    <div class="row align-items-start">
      <!-- Formulario de apuesta -->
      <div class="col-4">
        <form class="formulario">
          <!-- Tu contenido del formulario -->
          <div class="mb-3">
            <label for="goles1" class="form-label">Goles {{ prediccion.equipo1 }}</label>
            <input type="number" class="form-control" id="goles1" [(ngModel)]="prediccion.prediccionEquipo1" name="goles1">
          </div>
          <div class="mb-3">
            <label for="goles2" class="form-label">Goles {{ prediccion.equipo2 }}</label>
            <input type="number" class="form-control" id="goles2" [(ngModel)]="prediccion.prediccionEquipo2" name="goles2">
          </div>
          <div class="mb-3">
            Puntos obtenidos: {{ prediccion.puntaje }}
          </div>
          <button class="btn btn-primary" [class.disabled]="!habilitado" (click)="actualizar()">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
  